.resultado{

  display: none;
}

.campoDeJuego{
    border: 1px solid black;
    width: 100%;
    height: 700px;/*altura predeterminada*/
    margin-top: 3%;
}

.objetivo{
  position: relative;
  height: 100px;
  width: 100px;
  background-color: red;
  /*display: none;//ocultarlo*/
}
