<!DOCTYPE html>
﻿<html ng-app><!--app de angular---->
﻿  <head>
﻿    <meta charset="utf-8">
    <link rel="stylesheet" src="css/style.css">
    <script type="text/javascript" src="js/angular.min.js"></script><!--priemro angular-->
    
</head>
﻿    <title>Clase angular</title>
﻿  </head>

﻿  <body>
<!--
  <h1>Hola MUndo</h1>
  <h1>{{"Hola Mundo ANgular"}}</h1>
﻿ -->
<div class="">
  <h4>Filtros de Angular</h4>
  <span>DoNalDo</span>
  <br>
  <span>{{"DoNalDo" | lowercase}}</span>
  <br>
  <span>{{"DoNalDo" | uppercase}}</span>

  <br><br>
  <span>1350</span>
  <br>
  <span>{{1350 | currency }}</span><!--tipo numerico sin comillas-->

  <br><br>
  <span>1432473270932458 </span>
  <br>
  <span>{{1432473270932458 | number }}</span>
  <br>

  <br>


</div>



<!--ligar variables---->


<h4>ng-model en angular</h4>

<p>
  <label for="">Dime tu nombre</label>
<input type="text" ng-model="nombre" placeholder="Aquí va tu Nombre">

<!---<label for="">Dime tu nombre</label>
<input type="text" ng-model="nombre" placeholder="Aquí va tu Nombre" name="" value="HOLA" size="4">--->
</p>

<p>
  <label for="">Tu nombre es:</label>
  {{ nombre | uppercase }}
</p>

<p>
  <label for="">Selecciona país:</label>
  <select ng-model="pais">
    <option value="1">México</option>
    <option value="2">Francia</option>
    <option value="3">Alemania</option>
  </select>
  <br>
  <label>Tu país es: </label>
  {{ pais }}
</p>
<p>
  <label for="">Seleccione género:</label>
  <input type="radio" value="M" ng-model="genero">Masculino
  <input type="radio" value="F" ng-model="genero">Femenino
  <br>
  <label>Tu género es: </label>
  {{ genero }}
</p>

<p>
  <label>Cuál o cuáles es tu pasatiempo?</label>
  <input type="checkbox" value="" ng-model="opcion1">Patinar
  <input type="checkbox" value="" ng-model="opcion2">Leer
  <br>
  <label>A ti te gusta: </label>
  <br>{{ opcion1}}
  <br>{{ opcion2}}
</p>












<!------>
﻿  </body>

<script type="text/javascript" src="js/app.js"></script>

﻿</html>
